body {
	font-family: courier, monospace;
}
h1 {
	background: #fff;
	color: #094ABA;
	font-size: 42px;
	font-style: italic;
}
h2 {
	background: #fff;
	font-size: 28px;
}
h3 {
	background: #fff;
	font-size: 20px;
}
a:link, a:visited {
	color: #094ABA;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}
a:active {
	color: red;
	text-decoration: underline;
}
table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}
th {
	height: 48px;
}
th, td {
	padding: 4px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {
	background-color: #ddd;
}